/* WAITING TO CHANGE THIS, IT CURRENTLY CROSSES OVER A TASK  */

#tasks {
    list-style: none;
    padding: 0;
}

#tasks li {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

#tasks li.completed {
    text-decoration: line-through;
    background-color: #d3d3d3;
}

#taskInput {
    margin: 10px 0;
}

* {
    display: flex;
    flex: 1;
}

.taskListContainer, .timerContainer, .playerContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 2em;
}
/* 
.timerContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.playerContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
} */