* {
    box-sizing: border-box;
    /* border: solid red 2px; */
    border: none;
    margin: 10px;
    padding: 0px;

    background-color: #212121;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 500;
}

body {
    display: flex;
    height: 100vh;
}

.taskListContainer, .timerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.timerContainer button {
    cursor: pointer;
    border: white 4px solid;
    border-radius: 20px;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.size-6 {
    width: 120px;
    height: 120px;
    color: white;
}

.timerButtonsContainer {
    display: flex;
}

#timer {
    font-size: 150px;
    font-weight: 900;
}









































/* Pomodoro Dots */
.dots-container {
    display: flex;
    justify-content: center;
}

.dot {
    height: 30px;
    width: 30px;
    background-color: lightgray;
    border-radius: 50%;
    margin: 0 10px;
}

.dot.completed {
    background-color: #FF4F00;
}